section{
  height:80vh
}

.home-title{
  margin-bottom: 2rem;
}

.bg-image{
  max-height: 70vh;
  max-width: 60%;
}


@media screen and (max-width:768px) {
  .bg-image{
    height: auto;
    max-width:75%;}
}