.section-not-found{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  gap:1rem
}

.pokeball-gif{
  max-width: 50%;
}

.back-to-home{
  height:50%;
  justify-content: space-between;
}