.select-pokemon-section{
  padding: 4rem;
  align-items: center;
  height: 80vh;
}

#default_select{
  border-image-repeat:stretch
}

.nes-container{
  align-items: center;
  height: auto;
}

.nes-btn{
  max-width: 25%;
}

@media screen and (max-width:768px) {
  
  .nes-btn{
    max-width:100%}
}